.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}

button:nth-child(1) {
  background-color: violet;
}

button:nth-child(2) {
  background-color: indigo;
}

button:nth-child(3) {
  background-color: blue;
}

button:nth-child(4) {
  background-color: green;
}

button:nth-child(5) {
  background-color: yellow;
  color: black;
}

button:nth-child(6) {
  background-color: orange;
}

button:nth-child(7) {
  background-color: red;
}
