<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <a href="/">Go back to menu</a>

    <br><br><br>

    <form action="/edit" method="post">
        <input type="text" name="Prevtitle" value="<%= filename %>">

            <br><br>

        <input type="text" placeholder="Enter new title here" name="Newtitle">

            <br><br>

        <button type="submit">Update</button>
    </form>
</body>
</html>