<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taker</title>
</head>

<body>
    <div>
        <form action="/create" method="post">
            <input type="text" placeholder="Enter title here" name="title">

            <br><br>

            <textarea name="description" id="description" placeholder="Type in details here"></textarea>

            <br><br>

            <button type="submit">Create</button>
        </form>
    </div>
    <br><br>
    <div>

        <% if(files.length > 0){ %>
            <% files.forEach(function(val){ %>
                <div>
                    <h2><%= val %></h2>
                    <a href="/files/<%= val %>">read more.</a>
                    <a href="/edit/<%= val %>">edit file</a>
                </div>
            <% }) %>
        <% } else { %>
            <h3>no tasks yet.</h3>
        <% } %>

    </div>

</body>

</html>