* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #444;
    line-height: 1.6;
    /* background-color: #f4f5fa; */
}

#main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    height: 8.5vh;

    background-color: #ffffff;

    position: sticky;
    top: 0;
    z-index: 10;
    gap: 2rem;
}
#div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h1 {
    font-size: 1.1rem;
    font-weight: 500;

    color: black;
    margin: 0;

    cursor: pointer;

    padding-left: 3.3vw;
}
#nav h1 a {
    text-decoration: none;
}
 a {
    text-decoration: none;
 }
#nav h2 {
    font-weight: 500;
    font-size: .8rem;
    text-decoration: none;

    margin: 0 1rem;
    
    color: #0b0b0b;

    cursor: pointer;
    transition: color 0.3s ease;
}

#nav h3 {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: .2rem;

    padding-right: 2vw;
}

#nav h3 span {
    padding: 0.2rem .5rem;
    border-radius: 50px;

    background-color: rgb(44, 41, 41);
    color: rgb(244, 246, 240);

    font-weight: 500;
    cursor: pointer;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

#nav h3 span:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Main Content */
#body {
    width: 90%;
    max-width: 800px;

    text-align: center;

    margin: 2rem auto;
    /* margin-top: 3rem; */
    padding: 2rem;

    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;

    border-radius: 8px;
}

#body h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: black;
}
#body>h2 {
    margin-top: 1.5rem;
}

form {
    margin-bottom: 2rem;
}

form label {
    display: block;

    font-size: .9rem;
    margin-bottom: 0.5rem;

    color: #555;
}

form input[type="text"] {
    width: 90%;

    margin-bottom: 1.5rem;
    padding: 0.8rem;

    font-size: 0.9rem;

    border: 1px solid #ddd;
    border-radius: 8px;
}

form button {
    padding: 0.4rem 1rem;
    font-size: 1rem;    

    background-color: rgb(44, 41, 41);
    color: #fff;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

form button:active {
    background-color: #3c3d3e;
}
#body a {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: black;
}


/* Shortened URLs Section */
#shortened-urls {
    padding: 2rem;
    background-color: #eaf2ff;
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#shortened-urls h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: rgb(44, 41, 41);

}

#shortened-urls ul {
    list-style: none;
    padding: 0;
}

#shortened-urls li {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: #555;
}


/* for history page  */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Responsive Design */
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

}
